.Track {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.Track:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.TrackInformation {
  flex: 1;
  overflow: hidden;
}
.TrackTitle {
  margin: 0;

  font-size: 1.1rem;
}

.TrackDetail {
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

.TrackAction {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #1b1b4b;
  color: white;
}
.TrackAction:hover {
  transform: scale(1.1);
}
